/*------------ framework/scroll_indicator.css ------------*/

/*------------ e5.ui.ScrollIndicator ------------*/
.scroll_indicator {
	position: absolute;
	width: 4px;
	top: 43px;
	bottom: 3px;
	right: 3px;
	pointer-events: none;
}

.scroll_indicator .track {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

.scroll_indicator .thumb {
	position: absolute;
	width: 100%;
	height: 10%;
	background-color: #888888;
	background-color: rgba(0, 0, 0, 0.4);
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-radius: 5px;
	opacity: 1;
}

.scroll_indicator.hidden,.scroll_indicator.hidden .thumb {
	opacity: 0;
	filter: alpha(opacity =  0);
}
/*------------ framework/slider.css ------------*/

/*------------ e5.ui.Slider ------------*/
.e5-slider,.e5-slider * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.e5-slider {
	position: absolute;
	width: 30px;
	height: 200px;
	margin-top: -100px;
	top: 50%;
	left: 10px;
	border-radius: 5px;
	border: 1px solid #AAAAAA;
	-webkit-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
}

.e5-slider:focus {
	
}

.e5-slider-button {
	position: absolute;
	right: 0px;
	left: 0px;
	height: 30px;
	background-color: #FFFFFF;
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Lucida Console', Monaco, monospace;
}

.e5-slider-button:hover {
	background-color: #EEEEEE;
}

.e5-slider-button.disabled {
	background-color: #F4F4F4;
	cursor: default;
	color: #BBBBC3;
}

.e5-slider-button.increase {
	top: 0px;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 1px solid #AAAAAA;
}

.e5-slider-button.decrease {
	bottom: 0px;
	border-radius: 0px 0px 5px 5px;
	border-top: 1px solid #AAAAAA;
}

.e5-slider-track {
	position: absolute;
	top: 30px;
	right: 0px;
	bottom: 30px;
	left: 0px;
	background-color: #FFFFFF;
}

.e5-slider-track-line {
	position: absolute;
	width: 20px;
	margin-left: -10px;
	left: 50%;
	top: 5px;
	bottom: 5px;
	background-color: #E5E5E5;
	border: 1px solid #DDDDDD;
	cursor: pointer;
	border-radius: 2px;
}

.e5-slider-thumb {
	position: absolute;
	height: 10px;
	margin-top: -5px;
	left: 50%;
	width: 18px;
	margin-left: -9px;
	background-color: #FFFFFF;
	border-radius: 2px;
	border: 1px solid #666666;
	cursor: pointer;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.e5-slider-thumb.dragging {
	background-color: #DDDDDD;
	-moz-transition: none;
	-o-transition: none;
	-webkit-transition: none;
	transition: none;
}
/*------------ framework/slideshow.css ------------*/

/*------------ e5.ui.Slideshow ------------*/
.e5slideshow_kill_overflow {
    overflow: hidden !important;
}

.e5_slideshow {
    position: relative;
    width: 100%;
    height: 300px;
    outline: none !important;
}

.full.e5_slideshow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000000000;
    overflow: hidden;
}

.e5_slideshow_background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.full .e5_slideshow_background {
    background-color: #000000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.e5_slideshow_container {
    position: relative;
    background-color: #FFFFFF;
    padding: 5px;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
}

.full .e5_slideshow_container {
    -webkit-box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.2);
}

.e5_slideshow_footer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.85);
    display: none;
    padding: 10px;
    z-index: 10000000000000;
}

.e5_slideshow:hover .e5_slideshow_footer {
    display: block;
}

.full .e5_slideshow_footer {
    top: 100%;
    background-color: #FFFFFF;
    display: block;
}

.e5_slideshow_content {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 0 auto;
}

.full .e5_slideshow_content {
}

.e5_slideshow_media {
    display: block;
    position: absolute;
    max-width: 100%;
    width:auto;
    height:auto;
}

video.e5_slideshow_media {
    max-height: 100%;
    min-width: 100%;
}

.e5_slideshow_media_title {
    color: #666666;
    font-weight: bold;
    font-size: 12px;
}

.e5_slideshow_page_text {
    color: #888888;
    font-size: 12px;
}

.e5_slideshow_control {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    cursor: pointer;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    z-index: 10000;
}

.e5_slideshow_container:hover .e5_slideshow_control {
    display: block;
}

.single_page .e5_slideshow_control.prev,
.single_page .e5_slideshow_control.next {
    display: none;
}

.e5_slideshow_control.toggler {
    right: 5px;
    -moz-background-size: 24px 24px;
    -o-background-size: 24px 24px;
    -webkit-background-size: 24px 24px;
    background-size: 24px 24px;
    background-image: url(../assets/slideshow-expand.png);
}

.full .e5_slideshow_control.toggler {
    display: block;
    background-image: url(../assets/slideshow-close.png);
}

.e5_slideshow_control.prev {
    left: 5px;
    background-image: url(../assets/slideshow-prev.png);
}

.e5_slideshow_control.next {
    right: 5px;
    background-image: url(../assets/slideshow-next.png);
}
/*------------ framework/interactor.css ------------*/
.prevent-selection *{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* required styles */
.leaflet-map-pane,.leaflet-tile,.leaflet-marker-icon,.leaflet-marker-shadow,.leaflet-tile-pane,.leaflet-tile-container,.leaflet-overlay-pane,.leaflet-shadow-pane,.leaflet-marker-pane,.leaflet-popup-pane,.leaflet-overlay-pane svg,.leaflet-zoom-box,.leaflet-image-layer,.leaflet-layer
	{
	position: absolute;
	left: 0;
	top: 0;
}

.leaflet-container {
	overflow: hidden;
	-ms-touch-action: none;
}

.leaflet-tile,.leaflet-marker-icon,.leaflet-marker-shadow {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
}

.leaflet-marker-icon,.leaflet-marker-shadow {
	display: block;
}
/* map is broken in FF if you have max-width: 100% on tiles */
.leaflet-container img {
	max-width: none !important;
}
/* stupid Android 2 doesn't understand "max-width: none" properly */
.leaflet-container img.leaflet-image-layer {
	max-width: 15000px !important;
}

.leaflet-tile {
	filter: inherit;
	visibility: hidden;
}

.leaflet-tile-loaded {
	visibility: inherit;
}

.leaflet-zoom-box {
	width: 0;
	height: 0;
}
/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
.leaflet-overlay-pane svg {
	-moz-user-select: none;
}

.leaflet-tile-pane {
	z-index: 2;
}

.leaflet-objects-pane {
	z-index: 3;
}

.leaflet-overlay-pane {
	z-index: 4;
}

.leaflet-shadow-pane {
	z-index: 5;
}

.leaflet-marker-pane {
	z-index: 6;
}

.leaflet-popup-pane {
	z-index: 7;
}

/* control positioning */
.leaflet-control {
	position: relative;
	z-index: 7;
	pointer-events: auto;
}

.leaflet-top,.leaflet-bottom {
	position: absolute;
	z-index: 1000;
	pointer-events: none;
}

.leaflet-top {
	top: 0;
}

.leaflet-right {
	right: 0;
}

.main_container.collapsed .leaflet-right {
	right: 50px;
}

.main_container .leaflet-right {
	right: 270px;
}

.leaflet-bottom {
	bottom: 0;
}

.leaflet-left {
	left: 0;
}

.leaflet-control {
	float: left;
	clear: both;
}

.leaflet-right .leaflet-control {
	float: right;
}

.leaflet-top .leaflet-control {
	margin-top: 50px;
}

.leaflet-bottom .leaflet-control {
	margin-bottom: 10px;
}

.leaflet-left .leaflet-control {
	margin-left: 10px;
}

.leaflet-right .leaflet-control {
	margin-right: 24px;
}

/* zoom and fade animations */
.leaflet-fade-anim .leaflet-tile,.leaflet-fade-anim .leaflet-popup {
	opacity: 0;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}

.leaflet-fade-anim .leaflet-tile-loaded,.leaflet-fade-anim .leaflet-map-pane .leaflet-popup
	{
	opacity: 1;
}

.leaflet-zoom-anim .leaflet-zoom-animated {
	-webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
	-moz-transition: -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
	-o-transition: -o-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
	transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1);
}

.leaflet-zoom-anim .leaflet-tile,.leaflet-pan-anim .leaflet-tile,.leaflet-touching .leaflet-zoom-animated
	{
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

.leaflet-zoom-anim .leaflet-zoom-hide {
	visibility: hidden;
}

/* cursors */
.leaflet-clickable {
	cursor: pointer;
}

.leaflet-container {
	cursor: -webkit-grab;
	cursor: -moz-grab;
}

.leaflet-popup-pane,.leaflet-control {
	cursor: auto;
}

.leaflet-dragging,.leaflet-dragging .leaflet-clickable,.leaflet-dragging .leaflet-container
	{
	cursor: move;
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
}

/* visual tweaks */
.leaflet-container {
	background: #ddd;
	outline: 0;
}

.leaflet-container a {
	color: #0078A8;
}

.leaflet-container a.leaflet-active {
	outline: 2px solid orange;
}

.leaflet-zoom-box {
	border: 2px dotted #05f;
	background: white;
	opacity: 0.5;
}

/* general typography */
.leaflet-container {
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* general toolbar styles */
.leaflet-bar {
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.leaflet-bar a,.leaflet-bar a:hover {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	width: 26px;
	height: 26px;
	line-height: 26px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
}

.leaflet-bar a,.leaflet-control-layers-toggle {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
}

.leaflet-bar a:hover {
	background-color: #f4f4f4;
}

.leaflet-bar a:first-child {
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
}

.leaflet-bar a:last-child {
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: none;
}

.leaflet-bar a.leaflet-disabled {
	cursor: default;
	background-color: #f4f4f4;
	color: #bbb;
}

.leaflet-touch .leaflet-bar {
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.leaflet-touch .leaflet-bar a {
	width: 30px;
	height: 30px;
}

.leaflet-touch .leaflet-bar a:first-child {
	-webkit-border-top-left-radius: 7px;
	border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	border-top-right-radius: 7px;
}

.leaflet-touch .leaflet-bar a:last-child {
	-webkit-border-bottom-left-radius: 7px;
	border-bottom-left-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-bottom: none;
}

/* zoom control */
.leaflet-control-zoom-in {
	font: bold 18px 'Lucida Console', Monaco, monospace;
}

.leaflet-control-zoom-out {
	font: bold 22px 'Lucida Console', Monaco, monospace;
}

.leaflet-touch .leaflet-control-zoom-in {
	font-size: 22px;
	line-height: 30px;
}

.leaflet-touch .leaflet-control-zoom-out {
	font-size: 28px;
	line-height: 30px;
}

/* layers control */
.leaflet-control-layers {
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
	background: #f8f8f9;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.leaflet-control-layers-toggle {
	background-image: url(../assets/images/layers.png);
	width: 36px;
	height: 36px;
}

.leaflet-retina .leaflet-control-layers-toggle {
	background-image: url(../assets/images/layers-2x.png);
	background-size: 26px 26px;
}

.leaflet-touch .leaflet-control-layers-toggle {
	width: 44px;
	height: 44px;
}

.leaflet-control-layers .leaflet-control-layers-list,.leaflet-control-layers-expanded .leaflet-control-layers-toggle
	{
	display: none;
}

.leaflet-control-layers-expanded .leaflet-control-layers-list {
	display: block;
	position: relative;
}

.leaflet-control-layers-expanded {
	padding: 6px 10px 6px 6px;
	color: #333;
	background: #fff;
}

.leaflet-control-layers-selector {
	margin-top: 2px;
	position: relative;
	top: 1px;
}

.leaflet-control-layers label {
	display: block;
}

.leaflet-control-layers-separator {
	height: 0;
	border-top: 1px solid #ddd;
	margin: 5px -10px 5px -6px;
}

/* attribution and scale controls */
.leaflet-container .leaflet-control-attribution {
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0 0 5px #bbb;
	margin: 0;
}

.leaflet-control-attribution,.leaflet-control-scale-line {
	padding: 0 5px;
	color: #333;
}

.leaflet-container .leaflet-control-attribution,.leaflet-container .leaflet-control-scale
	{
	font-size: 11px;
}

.leaflet-left .leaflet-control-scale {
	margin-left: 5px;
}

.leaflet-bottom .leaflet-control-scale {
	margin-bottom: 5px;
}

.leaflet-control-scale-line {
	border: 2px solid #777;
	border-top: none;
	color: black;
	line-height: 1.1;
	padding: 2px 5px 1px;
	font-size: 11px;
	text-shadow: 1px 1px 1px #fff;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);
	white-space: nowrap;
	overflow: hidden;
}

.leaflet-control-scale-line:not (:first-child ) {
	border-top: 2px solid #777;
	border-bottom: none;
	margin-top: -2px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.leaflet-control-scale-line:not (:first-child ):not (:last-child ) {
	border-bottom: 2px solid #777;
}

.leaflet-touch .leaflet-control-attribution,.leaflet-touch .leaflet-control-layers,.leaflet-touch .leaflet-control-zoom
	{
	box-shadow: none;
}

.leaflet-touch .leaflet-control-layers,.leaflet-touch .leaflet-control-zoom
	{
	border: 4px solid rgba(0, 0, 0, 0.3);
}

/* popup */
.leaflet-popup {
	position: absolute;
	text-align: center;
}

.leaflet-popup-content-wrapper {
	padding: 1px;
	text-align: left;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}

.leaflet-popup-content {
	margin: 13px 19px;
	line-height: 1.4;
}

.leaflet-popup-content p {
	margin: 18px 0;
}

.leaflet-popup-tip-container {
	margin: 0 auto;
	width: 40px;
	height: 20px;
	position: relative;
	overflow: hidden;
}

.leaflet-popup-tip {
	width: 17px;
	height: 17px;
	padding: 1px;
	margin: -10px auto 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.leaflet-popup-content-wrapper,.leaflet-popup-tip {
	background: white;
	box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}

.leaflet-container a.leaflet-popup-close-button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 4px 0 0;
	text-align: center;
	width: 18px;
	height: 14px;
	font: 16px/14px Tahoma, Verdana, sans-serif;
	color: #c3c3c3;
	text-decoration: none;
	font-weight: bold;
	background: transparent;
}

.leaflet-container a.leaflet-popup-close-button:hover {
	color: #999;
}

.leaflet-popup-scrolled {
	overflow: auto;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}

/* div icon */
.leaflet-div-icon {
	background: #fff;
	border: 1px solid #666;
}

.leaflet-editing-icon {
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.leaflet-cluster-anim .leaflet-marker-icon,.leaflet-cluster-anim .leaflet-marker-shadow
	{
	-webkit-transition: -webkit-transform 0.25s ease-out, opacity 0.25s
		ease-in;
	-moz-transition: -moz-transform 0.25s ease-out, opacity 0.25s ease-in;
	-o-transition: -o-transform 0.25s ease-out, opacity 0.25s ease-in;
	transition: transform 0.25s ease-out, opacity 0.25s ease-in;
}
.marker-cluster-small {
	background-color: rgba(181, 226, 140, 0.6);
}

.marker-cluster-small div {
	background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
	background-color: rgba(241, 211, 87, 0.6);
}

.marker-cluster-medium div {
	background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
	background-color: rgba(253, 156, 115, 0.6);
}

.marker-cluster-large div {
	background-color: rgba(241, 128, 23, 0.6);
}

.marker-cluster {
	-moz-background-clip: padding-box;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 20px;
}

.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;
	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.marker-cluster span {
	line-height: 30px;
}
body {
	padding: 0;
	margin: 0;
	background-color: #D0D0D0;
	width: 100%;
	height: 100%;
}

.debug #content {
	position: relative;
	width: 1190px;
	margin: 0 auto;
	border-left: 1px solid #B49987;
	border-right: 1px solid #B49987;
	background-color: #FFFFFF;
	min-height: 100%;
	max-width: 100%;
}

.debug #header_dummy {
	position: relative;
	height: 93px;
	min-height: 93px;
	background-image: url(../assets/engage-dummy-header.png);
	/*-webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);*/
	z-index: 2;
}

.debug #footer_dummy {
	position: relative;
	height: 373px;
	min-height: 373px;
	background-image: url(../assets/engage-dummy-footer.png);
	z-index: 4;
}

#map_holder {
	position: relative;
	width: 100%;
}

.e5map .list_container,.e5map .list_container * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: inherit;
}

.e5map .unselect,.e5map .filter * {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.e5map.loading {
	min-height: 660px;
}

.e5map.loading:after {
	content: " ";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 5;
}
.e5map .main_container {
	position: relative;
	height: 500px;
	width: 100%;
	overflow: hidden;
	border-bottom: 5px solid #B49987;
}

.e5map .map {
	position: absolute;
	height: 100%;
	left: 0px;
	top: 0px;
	/*right: 250px;*/
	right: 0px;
	bottom: 0px;
}

.e5map .marker_icon:hover {
	
}

/*.e5map .main_container.collapsed .map {
    right: 0px;
}*/
.e5map .marker_cluster {
	position: absolute;
	width: 42px;
	height: 42px;
	top: 50%;
	left: 50%;
	margin-top: -21px;
	margin-left: -21px;
	line-height: 42px;
	text-align: center;
	background-image: url(../assets/map-handler-cluster.png);
}

.e5map .marker_cluster .count {
	pointer-events: none;
	position: absolute;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 15px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	top: 50%;
	left: 50%;
	margin-top: -15px;
	margin-left: -15px;
}
/*.e5map .scroll_indicator {
    right:3px;
}*/
.e5map .scroll_indicator {
	right: 0px;
	width: 8px;
	top: 40px;
	bottom: 0px;
	background-color: #FFFFFF;
}

.e5map .scroll_indicator .track {
	left: 2px;
	right: 2px;
	width: auto;
}

.e5map .search_container {
	position: relative;
	width: 100%;
	z-index: 100000000000000000000000;
	padding-left: 30px;
}

.e5map .search_icon,.e5map .clear_btn {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 50%;
	margin-top: -15px;
	background-repeat: no-repeat;
	-moz-background-size: 20px 20px;
	-o-background-size: 20px 20px;
	-webkit-background-size: 20px 20px;
	background-size: 20px 20px;
	background-position: center;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	opacity: 0;
}

.e5map .clear_btn {
	left: 30px;
	background-size: 16px 16px;
	background-image: url(../assets/filter-list-clear.png);
}

.e5map .search_icon {
	opacity: 1;
	right: 5px;
	background-image: url(../assets/filter-list-search.png);
}

.e5map .clear_btn.visible {
	cursor: pointer;
	opacity: 1;
}

.e5map .filter .search_box {
	width: 100%;
	position: relative;
	padding-left: 33px;
	height: 40px;
	line-height: 40px;
	-webkit-touch-callout: default;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	font-size: 0.8em;
	border: none;
	outline: none;
}

.e5map .filter {
	position: absolute;
	top: 0px;
	z-index: 1000;
	right: 0px;
	width: 277px;
	height: auto;
	font-family: Unit-Light, "Lucida Sans Unicode";
	opacity: 1;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.e5map .filter:before {
	content: " ";
	position: absolute;
	left: 30px;
	right: 0px;
	height: 100%;
	-webkit-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.e5map .filter.opaque {
	opacity: 0.2;
}

.e5map .main_container.collapsed .filter {
	height: auto;
	/*width: 60px;*/
}

.e5map .filter .filter_header {
	position: relative;
	font-weight: bold;
	line-height: 40px;
	height: 40px;
	margin-left: 30px;
	background-color: #FFFFFF;
	padding-left: 33px;
	text-transform: uppercase;
	cursor: pointer;
	border-top: 1px solid #5F706F;
	/*border-bottom: 1px dashed #AAAAAA;*/
	border-bottom: 1px solid #DDDDDD;

	/*-webkit-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);*/
}

.e5map .main_container.collapsed .filter_header {
	border-bottom: none;
	/*color: #FFFFFF;*/
}

.e5map .filter .filter_header:before {
	background-image: url(../assets/filter-list-expanded.png);
	-moz-background-size: 20px 20px;
	-o-background-size: 20px 20px;
	-webkit-background-size: 20px 20px;
	background-size: 20px 20px;
	background-position: center;
	content: "";
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	top: 50%;
	margin-top: -10px;
	right: 10px;
}

.e5map .main_container.collapsed .filter .filter_header:before {
	background-image: url(../assets/filter-list-collapsed.png);
	/*right: auto;
    left: 2px;*/
}

.e5map .main_container.collapsed .filter_list {
	/*display: none;*/
	
}

.e5map .filter_list {
	position: relative;
	width: 100%;
	/* overflow: hidden; */
	/* overflow-x: hidden;
	overflow-y: scroll; */
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 415px;
	padding-left: 30px;
	margin: 0;
	width: 100%;
}

.e5map .uncheck_btn {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0px;
	left: -30px;
	background-repeat: no-repeat;
	background-image: url(../assets/filter-list-uncheck.png);
	-moz-background-size: 20px 20px;
	-o-background-size: 20px 20px;
	-webkit-background-size: 20px 20px;
	background-size: 20px 20px;
	background-position: center;
	background-color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	opacity: 1;
}

.e5map .no_selection .uncheck_btn {
	opacity: 0;
	left: 0px;
	pointer-events: none;
}

.e5map .filter_item {
	position: relative;
	line-height: 30px;
	height: 30px;
	width: 100%;
	font-size: 0.8em;
	background-color: #FFFFFF;
	padding-left: 35px;
	padding-right: 15px;
	text-transform: uppercase;
	cursor: pointer;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.e5map .filter_title {
	position: relative;
	line-height: 30px;
	height: 30px;
	width: 100%;
	font-size: 0.8em;
	background-color: rgb(4, 82, 104);
	padding-left: 35px;
	padding-right: 15px;
	text-transform: uppercase;
	cursor: default;
	color: #FFFFFF;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	background-size: 24px 24px;
	background-position: 5px center;
	background-repeat: no-repeat;
}

.e5map .main_container.collapsed .filter_item,.e5map .main_container.collapsed .filter_title
	{
	display: none;
}

.e5map .filter_title.technology {
	background-image: url(../assets/filter-list-title-technology.png);
}

.e5map .filter_title.topic {
	background-image: url(../assets/filter-list-title-topic.png);
}

.e5map .filter_title.influence {
	background-image: url(../assets/filter-list-title-influence.png);
}

.e5map .filter_item.checked {
	
}

.e5map .filter_item:hover {
	background-color: #EEEEEE;
}

.e5map .filter_item:before {
	content: " ";
	position: absolute;
	background-repeat: no-repeat;
	-moz-background-size: 16px;
	-o-background-size: 16px;
	-webkit-background-size: 16px;
	background-size: 16px;
	background-position: center;
	width: 30px;
	height: 100%;
	left: 0px;
	background-color: #FFFFFF;
}

.e5map .no_selection .filter_item:before {
	background-image: url(../assets/filter-list-checked-indirect.png);
}

.e5map .filter_item.checked:before {
	background-image: url(../assets/filter-list-checked.png);
}

.e5map .filter_item:after {
	content: " ";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 1px;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,
		255, 255, 0)), color-stop(30%, rgba(209, 209, 209, 1)),
		color-stop(70%, rgba(209, 209, 209, 1)),
		color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%,
		rgba(209, 209, 209, 1) 30%, rgba(209, 209, 209, 1) 70%,
		rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%,
		rgba(209, 209, 209, 1) 30%, rgba(209, 209, 209, 1) 70%,
		rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%,
		rgba(209, 209, 209, 1) 30%, rgba(209, 209, 209, 1) 70%,
		rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%,
		rgba(209, 209, 209, 1) 30%, rgba(209, 209, 209, 1) 70%,
		rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#00ffffff',
		endColorstr='#00ffffff', GradientType=1);
}

.e5map .filter_item:nth-child(1):after {
	content: none;
}
.e5map .map_lines {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	pointer-events: none;
	height: 660px;
	overflow: hidden;
	z-index: 800;
}

.e5map .map_lines .line {
	position: absolute;
	width: 1px;
	height: 0px;
	z-index: 0;
	top: 0px;
	left: 0px;
	background-color: rgba(4, 82, 104, 0.7);
	-moz-transform-origin: 0px 0px;
	-ms-transform-origin: 0px 0px;
	-o-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	pointer-events: none;
}

.e5map .map_lines .line:after,.e5map .map_lines .line:before {
	content: " ";
	position: absolute;
	width: 5px;
	height: 5px;
	bottom: -2px;
	left: -2px;
	background-color: rgba(4, 82, 104, 0.7);
	border-radius: 5px;
	opacity: 1;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
}

.e5map .map_lines .line:before {
	top: -2px;
	bottom: auto;
}

.e5map .map_lines .line.buffered:after,.e5map .map_lines .line.buffered:before
	{
	opacity: 0;
}
.e5map .list_container {
	position: relative;
	width: 100%;
	height: 155px;
}

.e5map .list_container.closed {
	display: none;
}

.e5map .list_container .project_list {
	position: relative;
	height: 100%;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	white-space: nowrap;
	padding: 15px;
	z-index: 1200;
	font-family: Unit-Light, "Lucida Sans Unicode";
}

.e5map .list_container .navi_btn {
	position: absolute;
	top: 0px;
	bottom: 16px;
	width: 40px;
	z-index: 1400;
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;
	display: none;
}

.e5map .list_container .navi_btn.hidden {
	display: none !important;
}

.e5map .list_container:hover .navi_btn {
	/*background-color:rgba(0, 0, 0, 0.2);*/
	display: block;
}

.e5map .list_container .navi_btn.prev {
	left: 0px;
	background-image: url(../assets/project-list-prev.png);
}

.e5map .list_container .navi_btn.next {
	right: 0px;
	background-image: url(../assets/project-list-next.png);
}

.e5map .list_container .bp_item {
	position: relative;
	display: inline-block;
	white-space: normal;
	width: 220px;
	height: 110px;
	margin-right: 15px;
	background-color: #EEEEEE;
	border: 1px solid #045268;
	cursor: pointer;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}

.e5map .list_container .bp_item.checked {
	border: 1px solid #8F151F;
}

.e5map .bp_background {
	display: block;
	width: 100%;
	height: 100%;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	-moz-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform-origin: top left;
	-moz-transition: transform 0.3s;
	-o-transition: transform 0.3s;
	-webkit-transition: transform 0.3s;
	transition: transform 0.3s;
}

/*.e5map .bp_item:hover .bp_background{
    -moz-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -o-transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
}*/
.e5map .list_container .bp_item.hidden {
	display: none !important;
}

.e5map .list_container .bp_item.out_of_view {
	opacity: 0.4;
}

.e5map .list_container .bp_item:hover {
	opacity: 1.0;
}

.e5map .list_container .bp_item.out_of_view:hover .bp_background:after {
	content: " ";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../assets/project-list-footprint.png);
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/*.e5map .list_container .bp_item:hover .title:after {
            content: attr(data-sub-title) " ...";
            display: inline;
            font-weight: normal;
            font-size: 12px;
        }*/
.e5map .list_container .bp_item .title {
	position: absolute;
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
	bottom: 0px;
	font-family: Unit-Light, "Lucida Sans Unicode";
	font-size: 13px;
	line-height: 1.2em;
	text-align: center;
	padding: 5px;
	color: #FFFFFF;
	white-space: pre-wrap;
	background-color: rgb(4, 82, 104);
	background-color: rgba(4, 82, 104, 0.7);
	-moz-transition: background-color 0.7s;
	-o-transition: background-color 0.7s;
	-webkit-transition: background-color 0.7s;
	transition: background-color 0.7s;
}

.e5map .list_container .bp_item:hover .title {
	background-color: rgb(4, 82, 104);
}

.e5map .list_container .bp_item.checked .title {
	background-color: rgb(130, 15, 22);
	background-color: rgba(130, 15, 22, 0.7);
}

.e5map .list_container .bp_item.checked:hover .title {
	background-color: rgb(130, 15, 22);
}
.e5map .project_preview {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}

.e5map .project_preview.closed {
	display: none;
}

.e5map .project_preview * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Unit-Light, "Lucida Sans Unicode";
	font-size: 1em;
	line-height: 1.5em;
}

.e5map .project_preview .top_content {
	position: relative;
	height: 30px;
	line-height: 30px;
	margin: 0px 15px;
	border-bottom: 1px solid #8F151F;
}

.e5map .project_preview .top_content .fitzel {
	position: absolute;
	width: 21px;
	height: 11px;
	top: 19px;
	background-repeat: no-repeat;
	background-image: url(../assets/project-view-fitzel.png);
}

.e5map .project_preview .top_content .fitzel.left {
	background-image: url(../assets/project-view-fitzel-left.png);
	cursor: pointer;
}

.e5map .project_preview .top_content .fitzel.right {
	background-image: url(../assets/project-view-fitzel-right.png);
	cursor: pointer;
}

.e5map .project_preview .top_content .btn {
	float: right;
	width: 24px;
	height: 24px;
	margin-left: 5px;
	margin-top: 5px;
	margin-right: -5px;
	background-position: center;
	background-repeat: no-repeat;
	-moz-background-size: contain;
	-o-background-size: contain;
	-webkit-background-size: contain;
	background-size: contain;
	cursor: pointer;
}

.e5map .project_preview.minimized .top_content .btn.minimize {
	background-image: url(../assets/project-view-maximize.png);
}

.e5map .project_preview .top_content .btn.minimize {
	background-image: url(../assets/project-view-minimize.png);
}

.e5map .project_preview .top_content .btn.print {
	background-image: url(../assets/project-view-print.png);
}

.e5map .project_preview .top_content .btn.close {
	background-image: url(../assets/project-view-close.png);
}

.e5map .project_preview .right_content {
	position: relative;
	float: left;
	width: 50%;
	height: auto;
	padding: 12px 1.5em 12px 0.75em;
}

.e5map .project_preview .right_content .title {
	position: relative;
	font-size: 1.12em;
	text-transform: uppercase;
	font-family: Sanuk-Bold, "Lucida Sans Unicode";
}

.e5map .project_preview .right_content .summary {
	position: relative;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.e5map .project_preview .bottom_content {
	position: relative;
	clear: both;
	height: auto;
	margin: 0px 1.5em;
}

.e5map .project_preview .bottom_content .description {
	display: none;
	position: relative;
	height: auto;
	padding: 0;
	-moz-column-gap: 30px;
	-webkit-column-gap: 30px;
	column-gap: 30px;
}

.e5map .project_preview .bottom_content .description .quick {
	position: relative;
	float: right;
	width: 26%;
	background-image: url(../assets/asidebg.png);
	background-repeat: repeat-y;
	background-position-x: 1em;
	padding-left: 2em;
	padding-bottom: 32768px;
	margin-bottom: -32768px;
}

.e5map .project_preview .bottom_content .description .longversion {
	position: relative;
	width: 73%;
	padding-bottom: 32768px;
	margin-bottom: -32748px;
	float: left;
}

.e5map .project_preview .bottom_content .description div.title,.e5map .project_preview .bottom_content .description h2
	{
	position: relative;
	font-family: Sanuk-Regular, "Lucida Sans Unicode";
	color: #114A63;
	font-weight: normal;
	font-size: 1.2em;
	margin: 0.7em 0 0.3em;
	border: none;
	padding: 0;
}

.item-page .e5map .project_preview h3,.item-page .e5map .project_preview h3.title
	{
	font-family: Unit-Regular, "Lucida Sans Unicode";
	font-weight: normal;
	margin: 0.25em 0;
	color: #000;
	padding: 0;
}

.e5map .project_preview .bottom_content .description .text {
	position: relative;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	text-decoration: none;
	color: #000000;
	display: block;
	margin: 0;
}

.e5map .project_preview p {
	font-family: Unit-Light, "Lucida Sans Unicode";
	font-size: 1em;
	line-height: 1.5em;
	margin: 0.25em 0;
	padding: 0;
}

.e5map .project_preview a:link,.e5map .project_preview a:visited {
	color: #583018;
}

.e5map .project_preview a:hover {
	color: #000000;
}

.e5map .project_preview a:focus {
	color: #C82127;
}

.e5map .project_preview .bottom_content .description .hidden {
	display: none;
}

.e5map .project_preview.expanded .bottom_content .description {
	display: block;
}

.e5map .project_preview .bottom_content .footer {
	position: relative;
	height: 30px;
	border-bottom: 1px solid #8F151F;
	margin-bottom: 20px;
}

.e5map .project_preview .bottom_content .footer .btn.expand {
	float: right;
	width: 24px;
	height: 24px;
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 15px;
	color: #8F151F;
	cursor: pointer;
}

.e5map .project_preview .bottom_content .footer .btn.expand:after {
	content: "more";
}

.e5map .project_preview.expanded .bottom_content .footer .btn.expand:after
	{
	content: "less";
}

.e5map .project_preview .left_content {
	position: relative;
	width: 50%;
	float: left;
	padding: 12px 0.75em 0 1.5em;
}

.e5map .project_preview .left_content.full {
	position: fixed;
	display: block;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 10000000000000000;
	padding: 5%;
	background-color: rgba(0, 0, 0, 0.5);
}

.e5map .project_preview.minimized .left_content,.e5map .project_preview.minimized .right_content,.e5map .project_preview.minimized .bottom_content
	{
	display: none;
}
@font-face {font-family: Unit-Light;src: url("../assets/fonts/UnitWeb-Light.eot");}
@font-face {font-family: Unit-Light;src: url("../assets/fonts/UnitWeb-Light.woff") format("woff");}
@font-face {font-family: Unit-Regular;src: url("../assets/fonts/UnitWeb.eot");}
@font-face {font-family: Unit-Regular;src: url("../assets/fonts/UnitWeb.woff") format("woff");}
@font-face {font-family: Unit-Medium;src: url("../assets/fonts/UnitWeb-Medium.eot");}
@font-face {font-family: Unit-Medium;src: url("../assets/fonts/UnitWeb-Medium.woff") format("woff");}
@font-face {font-family: Sanuk-Bold;src: url("../assets/fonts/SanukWeb-Bold.eot");}
@font-face {font-family: Sanuk-Bold;src: url("../assets/fonts/SanukWeb-Bold.woff") format("woff");}
@font-face {font-family: Sanuk-Regular;src: url("../assets/fonts/SanukWeb.eot");}
@font-face {font-family: Sanuk-Regular;src: url("../assets/fonts/SanukWeb.woff") format("woff");}
  
html,#content,#map_holder {
	height: 100%;
}

html,body {
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

*:focus {
	outline: 0;
}

.e5map .main_container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0px;
	height: auto;
}

.e5map .list_container {
	position: fixed;
	left: 0px;
	right: auto;
	bottom: 0;
	width: auto;
	top: 0;
	bottom: 45px;
	height: auto;
	background-color: #FFFFFF;
}

.e5map .list_container .project_list {
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 10px 10px 0 10px;#
	
}

.e5map .list_container .shadow {
	position:absolute;
	-webkit-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
	top:0;
	left:0;
	bottom:0;
	right:0;
}



.e5map .list_container .bp_item {
	display: block;
	margin-right: 0;
	margin-bottom: 10px;
	width: 200px;
}

#map_holder {
	/* display: none; */
	opacity:0;
}

.map #map_holder {
	/* display: block; */
	opacity:1;
}

.e5map .project_preview {
	background-color: #FFFFFF;
	z-index: 1000000000000;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	height: 100%;
}

.e5map .list_container .navi_btn {
	display: none !important;
}

.e5map .list_container .project_list {
	/* background-color:#FF00FF; */
	
}

.e5map .project_preview .bottom_content .description {
	display: block;
	position: relative;
	height: auto;
	padding: 0;
	-moz-column-gap: 30px;
	-webkit-column-gap: 30px;
	column-gap: none;
}

.e5map .project_preview .top_content .btn.minimize,
.e5map .project_preview .top_content .btn.print,
.e5map .project_preview .top_content .fitzel,
.e5map .project_preview .bottom_content .footer .btn.expand,.e5map .map_lines
	{
	display: none;
}

.e5map .project_preview .left_content {
	float: none;
	width: auto;
	padding: 0 15px;
}

.e5map .project_preview .right_content {
	float: none;
	width: auto;
	padding: 0 15px;
}

.e5map .project_preview .bottom_content .description .quick {
	float: none;
	width: auto;
	background-image: none;
	padding: 0;
	margin-bottom: 0;
}

.e5map .project_preview .bottom_content .description .longversion {
	width: auto;
	padding: 0;
	margin: 0;
	float: none;
}

.e5map .project_preview .bottom_content {
	padding: 15px;
	margin: 0;
}

#content {
	height: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 45px;
}

.e5map .main_container {
	border-bottom: none;
}

.leaflet-control-container {
	-webkit-transform: translate3d(0, 0, 0);
}

img.leaflet-tile {
	outline: 1px solid transparent;
}

.e5map .list_container .list_expander {
	width: 40px;
	height: 42px;
	background-color: #FFFFFF;
	position: absolute;
	right: -40px;
	top: 0px;
	-webkit-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
	background-image: url(../assets/filter-expand.png);
	background-position: center;
	background-size: 24px;
	background-repeat: no-repeat;
}

.e5map .list_container {
	transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
		
}

.e5map .list_container.collapsed {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.e5-slider {
	left:auto;
	right:10px;	
}
.menu{
    position: fixed;
    width: 100%;
    height: 45px;
    bottom: 0;
    display: table;
    z-index: 2000;
}
.menu_item{
    background: url(../assets/menu-bg.png);
    background-size: auto 45px;
    background-repeat: repeat-x;
    display: table-cell;
    text-align: center;
    border-left: 1px solid rgba(0,0,0,0.3);
    border-right: 1px solid rgba(255,255,255,0.1);
    line-height: 0px;
}
.menu_item img{
    height: 45px;
    width: 45px;
}
.menu_item.selected{
    background: url(../assets/menu-bg-selected.png);
}
.map .page_container{
    display: none;
}
.page_container{
    display: block;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    font-family: Unit-Light,"Lucida Sans Unicode";
}
.page_container p{
    color: #000000;
    font-family: Unit-Light,"Lucida Sans Unicode";
    font-size: 1em;
    line-height: 1.5em;
    margin: 0 24px 1.5em;
}
.page_container h1{
    border-bottom: 1px solid #C8AD9B;
    color: #000000;
    font-family: Sanuk-Bold,"Lucida Sans Unicode";
    font-weight: normal;
    font-size: 3em;
    line-height: 1em;
    margin-bottom: 0.25em;
    padding: 0 24px 0.25em;
}
.page_container h2, .page_container h3 {
    color: #114A63;
    font-family: Sanuk-Regular,"Lucida Sans Unicode";
    font-weight: normal;
    font-size: 1.87em;
    line-height: 1.2em;
    margin: 0 24px 0.7em;
}
.page_container strong {
    font-family: Sanuk-Regular,"Lucida Sans Unicode";
    font-weight: normal;
}
.page_container ul {
    list-style: disc outside none;
    padding: 0 24px 1.5em;
}
.page_container li {
    list-style-position: outside;
    margin-left: 1em;
}
.page_container .e5_slideshow{
    height: 150px;
}
.page_container .e5_slideshow_container{
    padding: 0;
}
.page_container .e5_slideshow_container[style]{
    top: 0 !important;
}
.page_container .e5_slideshow:hover .e5_slideshow_footer{
    display: none;
}
.page_container .e5_slideshow_container{
    -webkit-box-shadow: none;
    box-shadow: none;
}
.langBtn_container{
    text-align: right;
    margin-bottom: 5px;
}
.langBtn{
    height: 40px;
    width: 40px;
    display: inline-block;
    margin: 0 5px;
    background-image: url(../assets/uk.png);
    background-size: 40px 40px;
}
.langBtn[data-lang="_fi"]{
    background-image: url(../assets/fi.png);
}
.langBtn[data-lang="_pl"]{
    background-image: url(../assets/pl.png);
}
.langBtn[data-lang="_fr"]{
    background-image: url(../assets/fr.png);
}
iframe{
    border: none;
}
.e5map .search_container,.e5map .filter_list {
	padding-left: 0px;
}

.e5map .filter .filter_header {
	margin-left: 0;
	display: none;
}

.e5map .clear_btn {
	left: 0px;
}

.e5map .filter_title,.e5map .filter_item,.e5map .filter_list {
	width: auto;
}

.e5map .filter {
	width: 220px;
	/* right:0px; */
	transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.e5map .filter:before {
	left: 0px;
}

.e5map .filter.collapsed {
	/* right:-300px;	 */
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

.e5map .filter .filter_expander {
	width: 40px;
	height: 42px;
	background-color: #FFFFFF;
	position: absolute;
	left: -40px;
	top: 0px;
	-webkit-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
	background-image: url(../assets/filter-expand.png);
	background-position: center;
	background-size: 24px;
	background-repeat: no-repeat;
}

.e5map .filter.collapsed .filter_expander {
	background-image: url(../assets/filter-collaps.png);
}
